.toolbar-icon.toolbar-icon-debugpause-menu-link:before {
  background-image: url("../misc/icons/787878/timer.svg");
}

/* Added more properties in case user doesn't have admin toolbar installed */
.toolbar-icon.toolbar-icon-debugpause-menu-link {
  display:block;
  padding-left: 2.75em !important;
  padding: 1em 1.3333em;
  cursor: pointer;
  text-decoration: none;
  color: #565656;
}
